@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .note {
    @apply border-2;
    @apply text-white;
    @apply border-[#020000];
    @apply w-[50px];
    @apply h-[50px];
    @apply text-xl;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply font-bold;

    &.flat {
      @apply rounded-full;
      @apply text-lg;
    }
  }

  .note-C {
    @apply bg-C;
  }
  .note-Db {
    @apply bg-Db;
  }
  .note-D {
    @apply bg-D;
  }
  .note-Eb {
    @apply bg-Eb;
  }
  .note-E {
    color: #020000;
    @apply bg-E;
  }
  .note-F {
    @apply bg-F;
  }
  .note-Gb {
    @apply bg-Gb;
  }
  .note-G {
    @apply bg-G;
  }
  .note-Ab {
    @apply bg-Ab;
  }
  .note-A {
    color: #020000;
    @apply bg-A;
  }
  .note-Bb {
    @apply bg-Bb;
  }
  .note-B {
    color: #020000;
    @apply bg-B;
  }
}
